/* todo: delete file if not needed */
.lp {
    .row.outer {
        padding-bottom: 20px;
        padding-top: 20px;
        border-bottom: solid 1px #ccc;
        .articleImage {
            width: 200px;
            height: 200px;
            position: relative;
            border: solid 1px #cccccc;
            overflow: hidden;
            padding: 10px;
            background-color: #cccccc;
            background-position: center;
            background-size: cover;
            img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                max-width: 100%;
                max-height: 100%;
                margin: auto;
            }
        }
        .articleTitle{
            font-size: 26px;
            color: #4d4d4d;
            line-height: 30px;
            font-family: 'lato_black';
        }
        .articleDesc{
            font-size: 16px;
            color: #4d4d4d;
            line-height: 22px;
            font-family: 'lato_light';
        }
        .author{
            font-size: 16px;
            color: #4d4d4d;
            font-weight: 100;
            line-height: 22px;
            font-weight: 700;
        }
        .source{
            font-size: 16px;
            color: #4d4d4d;
            font-weight: 100;
            line-height: 22px;
            font-weight: 700;
        }
        .date{
            font-size: 16px;
            color: #4d4d4d;
            font-weight: 100;
            line-height: 22px;
            font-weight: 700;
        }
        .highlight{
            color: #CC0000;
        }
    }
    a{
        outline:none;
        &:hover{
            outline:none;
            text-decoration: none;
        }
        
    }
}
