/* todo: delete file if not needed */
$color: #4d4d4d;
.footer_parent_div {
    border-top: solid 4px #4d4d4d;
    .footerlogo {
        max-width: 100px;
        display: block;
        margin: 0px auto;
        padding: 30px 0px;
    }
    .socials {
        height: 70px;
        .social_container {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            div {
                width: 30px;
                height: 30px;
                border: solid 1px $color;
                display: inline-block;
                transform: rotate(45deg);
                margin-right: 11px;
                a {
                    display: block;
                    background-color: transparent;
                    width: 100%;
                    height: 100%;
                    transition: all 0.2s ease-in-out;
                    i {
                        display: block;
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        top: 0px;
                        left: 10px;
                        transform: rotate(-45deg);
                        color: $color;
                    }
                    &:hover {
                        background-color: #CC0000;
                        i {
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    .copyright{
        i{
            color: #CC0000;
            font-size: 20px;
        }
    }
}
